@model SupportComponentsViewModel
<form method="post" asp-action="Search">
<div class="row">

        <div class="col-md-9">


            <input asp-for="SupportSearch.SearchTerm" 
                   class="form-control"
                   placeholder="Search Support..." />
            <br />
        </div>
        <div class="col-md-2">
            <button type="submit" class="aplly-button">Search</button>

            <br />


        </div>
    

</div>
</form>