
@{
    ViewData["Title"] = "ForgotPassword";
}
@model ForgotPasswordViewModel
<div>
    <main role="main" class="mt-5">
        <div class="login-area area-padding fix ">
            <div class="login-overlay "></div>
            <div class="table-cell ">
                <div class="container center">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-12">
                        <div class="login-form mn bga">
                            <h4 class="login-title text-center">Reset Password</h4>
                            <div class="row">
                                <form method="POST" class="log-form bga">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" asp-for="Email" placeholder="Email" required data-error="Please enter your name">
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                        <button type="submit" class="slide-btn btn btn-outline-success mzn">Send Mail</button>
                                        <div class="h3 text-center visually-hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
            </div>
        </main>
    </div>


