
@{
    ViewData["Title"] = "Login";
}
@model LoginViewModel
<div class="login-area area-padding fix">
    <div class="login-overlay"></div>
    <div class="table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                        <div class="login-form">
                            <h4 class="login-title text-center">LOGIN</h4>
                            <div class="row">
                                <form  method="POST" class="log-form">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                         <input type="text" class="form-control" asp-for="Email" placeholder="Email" required data-error="Please enter your name">
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="password" class="form-control" asp-for="Password" placeholder="Password" required data-error="Please enter your message subject">
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <div class="check-group flexbox">
                                            <label class="check-box">
                                                <input asp-for="RememberMe" class="check-box-input" checked>
                                                <span class="remember-text">Remember me</span>
                                            </label>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <button type="submit" class="slide-btn login-btn">Login</button>
                                        <div class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <div class="clear"></div>
                                        <div class="separetor text-center"><a asp-controller="Auth" asp-action="ForgotPassword">Forgotten password?</a></div>
                                        <div class="sign-icon">
                                            <ul>
                                                <li><a class="facebook" href="#"><i class="ti-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="ti-twitter"></i></a></li>
                                                <li><a class="google" href="#"><i class="ti-google"></i></a></li>
                                            </ul>
                                            <div class="acc-not">Don't have an account?  <a class="pages" asp-page="/Register">Sign up</a></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

