
@{
    ViewData["Title"] = "ResetPassword";
}
@model SubmitResetPasswordViewModel
<div class="login-area area-padding fix">
    <div class="login-overlay"></div>
    <div class="table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                        <div class="login-form">
                            <h4 class="login-title text-center">Reset Password</h4>
                            <div class="row">
                                <form method="POST" class="log-form">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input class="form-control" asp-for="Password" placeholder="Password">
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input class="form-control" asp-for="PasswordConfirm" placeholder="PasswordConfirm">
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <button type="submit" class="slide-btn login-btn">Send Mail</button>
                                        <div class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




