@model BetaBank.Areas.Support.ViewModels.HeaderViewModel
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index"><img src="~/areaAssets/images/betabank-favicon.png" alt="betabank icon"><b>Support Panel</b></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li class="nav-item" id="Supports-nav-item">
                <a class="nav-link" asp-controller="Supports" asp-action="Index">Supports</a>
            </li>
            <li class="nav-item" id="UnderReview-nav-item">
                <a class="nav-link" asp-controller="Supports" asp-action="FilteredSupports" asp-route-id="@Model.UnderReviewId">UnderReview</a>
            </li>
            <li class="nav-item" id="Answered-nav-item">
                <a class="nav-link" asp-controller="Supports" asp-action="FilteredSupports" asp-route-id="@Model.AnsweredId">Answered</a>
            </li>
            <li class="nav-item" id="Passed-nav-item">
                <a class="nav-link" asp-controller="Supports" asp-action="FilteredSupports" asp-route-id="@Model.PassedId">Passed</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white">Welcome, @User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" asp-controller="Auth" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Header -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3 class="font-weight-light">
                    <i class="fas fa-headset"></i> Support
                </h3>
            </div>
        </div>
    </div>
</header>

