@{
    Layout = null;
    var headerViewModel = ViewData["HeaderViewModel"] as HeaderViewModel;
}

<nav class="navbar navbar-expand-lg nav text-white" >
    <a class="navbar-brand text-white " asp-controller="Home" asp-action="Index"><img src="~/img/logo/BetaBank-logo.png" width="110px "> </a>
       

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-white">
                <li class="nav-item active">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Info
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color: #2FE404 !important;" asp-controller="Home" asp-action="About">About</a>
                    <a class="dropdown-item" style="color: #2FE404 !important;" asp-controller="Home" asp-action="FAQ">FAQ</a>
                    <a class="dropdown-item" style="color: #2FE404 !important;" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="News" asp-action="Index">News</a>
                </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="BankCard" asp-action="Cards">Cards</a>
            </li>
            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @headerViewModel.FirstName
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="color: #2FE404 !important;" asp-controller="User" asp-action="Profile">Profile</a>
                        <a class="dropdown-item" style="color: #2FE404 !important;" asp-controller="BankAccountAndWallet" asp-action="Details">Account and Wallet</a>
                        <a class="dropdown-item" style="color: #2FE404 !important;" asp-controller="Payment" asp-action="RecentActivity">Recent Activity</a>

                    </div>
                </li>

            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="User" asp-action="Register">Register</a>
                </li>
            }

            </ul>
        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="User" asp-action="Dashboard">Dashboard</a>

        }
        else
        {
            <a class="btn btn-outline-success my-2 my-sm-0" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>

        }
        </div>
    </nav>



