@{
    ViewData["Title"] = "About";
}

<!-- Start breadcrumbs area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>About Us</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumbs area -->
<!-- Start How to area -->
<div class="how-to-area bg-color area-padding">
    <div class="container">
        <div class="row">
            <div class="all-services">
                <!-- Start single column-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="well-services">
                        <div class="well-img">
                            <a class="big-icon" href="#"><i class="flaticon-102-businessman"></i></a>
                        </div>
                        <div class="main-wel">
                            <div class="wel-content">
                                <h4>Create an account</h4>
                                <p> Don't have account with us? what are you still waiting for.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single column-->
                <!-- Start single column-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="well-services ">
                        <div class="well-img">
                            <a class="big-icon" href="#"><i class="flaticon-046-bank-1"></i></a>
                        </div>
                        <div class="main-wel">
                            <div class="wel-content">
                                <h4>Attach other bank cards</h4>
                                <p>You can also link your other bank cards to send money from.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single column-->
                <!-- Start single column-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="well-services">
                        <div class="well-img">
                            <a class="big-icon" href="#"><i class="flaticon-028-money"></i></a>
                        </div>
                        <div class="main-wel">
                            <div class="wel-content">
                                <h4>Send money</h4>
                                <p>Send money to your business pathners, friends in a short time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single column-->
            </div>
        </div>
    </div>
</div>
<!-- End How to area -->
<!-- Start about area -->
<div class="about-area bg-color2 area-padding">
    <div class="container">
        <div class="row">
            <!-- Start column-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-image">
                    <img src="img/about/vd.jpg" alt="" class="ab-first-img">
                    <img src="img/about/vd1.jpg" alt="" class="ab-second-img">
                    <a href="https://www.youtube.com/watch?v=O33uuBh6nXA" class="video-play vid-zone">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
            <!-- End column-->
            <!-- Start column-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-content">
                    <h3>Why choose our world fast online payment services.</h3>
                    <p class="hidden-sm">You wouldn't want to miss using our payment API</p>
                    <div class="about-details">
                        <div class="single-about">
                            <a href="#"><i class="flaticon-079-graphic"></i></a>
                            <div class="icon-text">
                                <h5>Low Costing</h5>
                                <p>Transactions costs are very small.</p>
                            </div>
                        </div>
                        <div class="single-about">
                            <a href="#"><i class="flaticon-007-document-2"></i></a>
                            <div class="icon-text">
                                <h5>Safe & Secure</h5>
                                <p>Making transactions can never be more safe and secure.</p>
                            </div>
                        </div>
                        <div class="single-about">
                            <a href="#"><i class="flaticon-107-speech-bubbles"></i></a>
                            <div class="icon-text">
                                <h5>Live Support</h5>
                                <p>In a case of any issue our live support is a click away</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End column-->
        </div>
    </div>
</div>

<!-- End about area -->
<!-- Start testimonials Area -->
<div class="reviews-page-area bg-color fix area-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Customer Reviews</h2>
                    <p>Below are some of our customers reviews</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="reviews-content">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>I have been using this bank for fours to run my business and it has been all good news.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="img/review/1.jpg" alt="">
                                <div class="guest-details">
                                    <h4>Hamilton</h4>
                                    <span class="guest-rev">Clients - <a href="#">Business Owner</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>For six years i have been banking with PGC I haven't experienced any downtime.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="img/review/2.jpg" alt="">
                                <div class="guest-details">
                                    <h4>Angel lima</h4>
                                    <span class="guest-rev">Clients - <a href="#">Customer for 6 years</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single item -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>20th May marked it 4 years I have been using PGC bank plc</p>
                            </div>
                            <div class="testi-img ">
                                <img src="img/review/3.jpg" alt="">
                                <div class="guest-details">
                                    <h4>Arthur Doil</h4>
                                    <span class="guest-rev">Clients - <a href="#">Happy Customer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- End single item -->
            </div>
        </div>
    </div>
</div>
<!-- End testimonials end -->
<!-- Start overview Area -->
<div class="overview-area bg-color2 fix area-padding">
    <div class="container">
        <div class="row">
            <!-- Start column-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="overview-content">
                    <div class="overview-images">
                        <img src="img/about/overview.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- End column-->
            <!-- Start column-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="overview-text">
                    <h3>Secure online shopping world top brand product </h3>
                   
                    <ul>
                        <li><a href="#">Innovation idea latest business tecnology</a></li>
                        <li><a href="#">Digital content marketing online clients plateform</a></li>
                        <li><a href="#">Safe secure services for you online email account</a></li>
                    </ul>
                    <a class="overview-btn" asp-page="/Register">Signup today</a>
                </div>
            </div>
            <!-- End column-->
        </div>
    </div>
</div>
<!-- End overview area -->
<!-- Start apps download area -->
<div class="download-area bg-color2 area-padding">
<div class="container">
    <div class="row">
        <!-- Start column -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="download-text">
                <h3>Very soon you can Download our apps on all the various app stores.</h3>
                <p>Our mobile apps are still under development but will soon be available</p>
                <div class="down-btn" data-wow-delay="0.7s">
                    <a href="#" class="app-btn left-btn">Play store</a>
                    <a href="#" class="app-btn right-btn">App store</a>
                </div>
            </div>
        </div>
        <!-- End column -->
        <!-- Start column -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="download-image">
                <img src="img/about/download.jpg" alt="download-image">
            </div>
        </div>
        <!-- End column -->
    </div>
</div>
</div>
<!-- End apps download area -->
