@{
    ViewData["Title"] = "FAQ";
}

<!-- Start breadcrumbs area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>FAQ</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumbs area -->
<!-- Start FAQ -->
<div class="faq-page bg-color area-padding">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Important FAQ</h3>
                    <p>Below are some frequently asked questions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start FAQ Start -->
            <div class="all-faq-text">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="business-faq">
                        <h3>PGC Bank Flexible Saver</h3>
                        <p>Whether you’re saving for a wedding, a new car, a once-in-a-lifetime holiday or maybe all 3, you can open as many Flexible Saver accounts as you have reasons to save.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="faq-full">
                        <div class="single-faq ">
                            <h4> 01. PGC Bank Flexible Saver</h4>
                        </div>
                        <div class="faq-details">
                            <div class="panel-group" id="accordion">
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                                <span class="acc-icons"></span>Open an account with £1
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                How much you save is up to you – you can put in a lump sum or save a little at a time, starting from just £
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                                <span class="acc-icons"></span> Save a bit every month
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                You can choose to save by standing order, transferring a set amount into the account each month or by making a lump sum payment. There’s no maximum balance
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                                <span class="acc-icons"></span>Access your money instantly
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check3" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                            <p>
                                                This is an instant access account, so you can take out and transfer money whenever you need to, no notice required

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                                <span class="acc-icons"></span>Watch your money grow
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                You’ll earn interest on your savings – and, if you’re an PGC Bank Advance customer, you’ll enjoy preferential rates that could help you save even more.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                                <span class="acc-icons"></span> Manage your money anytime
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Once opened, you can manage your account via telephone and online banking, the PGC Bank Mobile Banking app or in any of our branches
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start FAQ Start -->
            <div class="all-faq-text">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="business-faq">
                        <h3>Rewards Credit Card </h3>
                        <p>Use this card to earn reward points on eligible purchases1 you make. Redeem your points against everyday purchases2 - from your morning coffee to cinema tickets. To get started, simply download the Mastercard Pay With Rewards™ app, set your preferences and let your points treat you.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- End FAQ full -->
                    <div class="faq-full">
                        <div class="single-faq ">
                            <h4> 02. Rewards Credit Card</h4>
                        </div>
                        <div class="faq-details">
                            <div class="panel-group" id="accordion1">
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" class="active" data-parent="#accordion1" href="#check5">
                                                <span class="acc-icons"></span>Manage your card wherever you are
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check5" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                You can use Online Banking  to check your credit card balance, make payments and stay in control.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#check6">
                                                <span class="acc-icons"></span> Get an additional card
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                As long as they’re over 18, you can add your partner or a family member to your account
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#check7">
                                                <span class="acc-icons"></span>Use your card abroad
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check7" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                            <p>
                                                You can use your PGC Bank Credit Card at any retailer or cash machine that displays the logo on your card. Fees apply and non-PGC Bank cash machines may also charge a fee.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#check8">
                                                <span class="acc-icons"></span>24/7 worldwide assistance
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Help is always at hand if your card is lost or stolen. Wherever you are in the world you can speak to our dedicated team about getting an emergency cash advance.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                            </div>
                        </div>
                        <!-- End FAQ -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start FAQ Start -->
            <div class="all-faq-text">
                <!-- End Column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="business-faq">
                        <h3>Personal Loan</h3>
                        <p>For when you want to borrow a specific amount of money at one time, and then pay it back through regular monthly payments.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- End FAQ full -->
                    <div class="faq-full">
                        <div class="single-faq ">
                            <h4> 03. Online Shopping</h4>
                        </div>
                        <div class="faq-details">
                            <div class="panel-group" id="accordion2">
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" class="active" data-parent="#accordion2" href="#check9">
                                                <span class="acc-icons"></span>What is needed
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check9" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                In most cases, a customer's signature alone may suffice
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#check10">
                                                <span class="acc-icons"></span> How it works
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check10" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Can tailor the term to fit your needs, so you can comfortably make payments over the term of the loan
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#check11">
                                                <span class="acc-icons"></span>Repayment
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check11" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                            <p>
                                                We offer a reduced interest rate when your monthly payment is automatically deducted from your PGC Bank checking account saving you time and money and making payments easy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#check12">
                                                <span class="acc-icons"></span>For more information
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check12" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                If you do have any question, you can contact us on our live support or send us a message from our contact form
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Panel Default -->
                            </div>
                        </div>
                        <!-- End FAQ -->
                    </div>
                    <!-- End FAQ full -->
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!-- Start FAQ Start -->
            <!--<div class="all-faq-text">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="business-faq">
                        <h3>Bank deposite</h3>
                        <p>Multipol system has been creating innovative payments since 2003. We offer our clients professional development services, ranging from concept prototyping.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">-->
                    <!-- End FAQ full -->
                    <!--<div class="faq-full last-item">
                        <div class="single-faq ">
                            <h4> 04. Bank deposite</h4>
                        </div>
                        <div class="faq-details">
                            <div class="panel-group" id="accordion2">-->
                                <!-- Panel Default -->
                                <!--<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" class="active" data-parent="#accordion2" href="#check13">
                                                <span class="acc-icons"></span>Redug Lefes dolor sit amet.
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check13" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                Multipol system has been creating innovative payments since 2003. We offer our clients professional development services, ranging from concept prototyping to full-service game development, including design, art creation.
                                            </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <!--<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#check14">
                                                <span class="acc-icons"></span> Laboriosam maiores alias accusamus
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Multipol system has been creating innovative payments since 2003. We offer our clients professional development services, ranging from concept.
                                            </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <!--<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#check15">
                                                <span class="acc-icons"></span>Mollitia dolore magnam quidem repellat
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check15" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                            <p>
                                                Multipol system has been creating innovative payments since 2003. We offer our clients professional development services, ranging from concept prototyping to full-service game development.
                                            </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- End Panel Default -->
                                <!-- Panel Default -->
                                <!--<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="check-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#check16">
                                                <span class="acc-icons"></span>Quas mollitia dolore magnam
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="check16" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Multipol system has been creating innovative payments since 2003. We offer our clients professional development services, ranging from concept prototyping.
                                            </p>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- End Panel Default -->
                            <!--</div>
                        </div>
                    </div>
                </div>-->
                <!-- End Column -->
            <!--</div>
        </div>-->
    </div>
</div>
@await Component.InvokeAsync("Support");
