
@{
    ViewData["Title"] = "Privacy Policy";
}
<main role="main mt-5">
    <!-- Start breadcrumbs area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumb text-center zd">
                        <div class="section-headline white-headline text-center">
                            <h3>Terms & Conditions</h3>
                        </div>
                        <ul>
                            <li class="home-bread">Home</li>
                            <li>Terms & Conditions </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumbs area -->
    <!-- Start terms area -->
    <div class="terms-area bg-color area-padding-2 bga">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="section-headline text-center">
                        <h3>Terms & Conditions</h3>
                        <p>Below are some terms and conditions you are agreeing to when you create account with us </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Column Start -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="company-terms">
                        <ol>
                            <li> The Bank shall have no obligation to open, create or permit the operation of the requested account until receipt of all specified requirements for the account. The Bank reserves the right to reject the creation of the account or close the close the account (if it has been opened) where any information supplied is found to be false, incorrect or misleading.</li>
                            <li>The Account Holder agrees to promptly notify the Bank of any subsequent change in any of the account information supplied.</li>
                            <li> The Account Holder agrees to maintain the minimum balance and all other conditions applicable to all accounts, including Savings, Current and Domiciliary and the Bank, at its sole discretion reserves the right to close the account where the conditions are not maintained or where the account has been operated illegally or to further a criminal activity.</li>
                            <li>The Account Holder agrees that unless there is an agreement in writing with the Bank, only tellers sitting across the counters are authorized to handle cash and cheque transactions. The Account Holder further agrees that the Bank will not be liable for funds handed over to unauthorized staff outside normal banking hours and/or outside the Bank premises.</li>
                            <li>The Account Holder agrees to assume full responsibility for the genuineness, correctness and validity of all endorsements appearing on all cheques, orders, bills, notes, negotiable instruments, receipts and other documents deposited in the Account Holder’s account.</li>
                            <li>The Account Holder agrees to be personally liable for the repayment of any overdraft with interest or obligation arising from or in connection with the account and the Bank is hereby authorized to debit the Account(s) with all interest, commission and/or other banking charges (including legal charges) incurred in connection with the account.</li>
                            <li>The Bank shall not be held liable for any loss of funds deposited with the Bank due to any future governmental order, law, levy, tax, embargo, moratorium, exchange restriction and all other causes beyond the Bank’s control.</li>
                            <li>In addition to any general lien or similar right, to which the Bank as a banker may be entitled by law, the Bank may at any time and without notice to the Account Holder combine or consolidate all or any other accounts with any liabilities to the Bank and set off or transfer any sum or sums standing to the credit of the Account Holder or other related parties towards satisfaction of the Account Holder’s liabilities to the Bank whether such liabilities be actual or contingent primary or collateral and several or joint.</li>
                            <li>The Account Holder agrees to repay any facilities obtained from the Bank as and when due. Where the Account Holder fails to repay the facility as agreed, and the facility becomes delinquent, the Bank shall have the right to report the delinquent facility to the CBN through the Credit Risk Management System (CRMS) or by any other means, and request the CBN to exercise its regulatory power to direct all banks and other financial institutions under its regulatory purview to set-off the Account Holder’s indebtedness from any money standing to the credit of the Account Holder in any bank account and from any other financial asset they may be holding for the Account Holder’s benefit.</li>
                            <li> The Account Holder covenants and warrant that the CBN shall have the power to set-off any of the Account Holder’s indebtedness from all such monies and funds standing to the Account Holder’s credit/benefit in any and all such accounts in other banks or from any other financial assets belonging to the Account Holder and in the custody of any such bank.</li>
                            <li>The Account Holder hereby waives any right of confidentiality whether arising under common law or statute or in any other manner whatsoever and irrevocably agrees not to argue to the contrary before any court of law, tribunal, administrative authority or any other body acting in any judicial or quasi-judicial capacity.</li>
                            <li>The Account Holder shall not issue cheques without adequate funds in the account and the Account Holder shall accept all responsibility and liability arising from the issuance of cheques. The Bank shall be obligated to report the issuance of dud cheques to relevant Credit Bureau Registries and Security Agencies for investigation and prosecution.</li>
                            <li>The Developer is not responsible for anything deals you have with anybody on the site</li>
                            <li>If any cheque credited to the Account Holder’s current account is returned dishonoured, the same may be returned to the Account Holder through the last known address either by bearer or post.</li>
                            <li> The Account Holder agrees to be bound by these and other terms and conditions regulating the operations of the bank account(s) and other financial services including but not limited to Electronic Banking, Mobile Banking, Card services, Telephone Banking, Automated Teller Machines and Money Transfer services.</li>
                            <li>The account relationship hereby established shall be governed and construed in accordance with Nigerian laws and by reference to the accepted principles and practices of banking.</li>
                            <li>The Bank reserves the right to apply restrictions to the account and make necessary disclosures to appropriate legal, regulatory and tax authorities at any time.</li>
                            <li> If an Account Holder is or becomes resident in the US, the Account Holder shall promptly notify the Bank and complete and return to the Bank as soon as reasonably possible any relevant US tax or waiver documentation that applies to the Account Holder and/or relevant US tax or waiver documentation which the Bank may request from time to time.</li>
                            <li>It is agreed that the Bank shall have the right to modify the nature, conditions and stipulations of these general terms and conditions including the rate of interest, commissions and other conditions to any account by written notice to the Account Holder or by notice posted in the banking hall. Any such amendments shall be binding on the Account Holder from the date of the said notice whether or not the Account Holder actually received the notice.</li>
                            <li>The Account Holder agrees to accept as due notification, any notice of change in the conditions governing the account which is sent to the Account Holder’s last known address or posted in the banking hall and to be bound by such change.</li>
                            <li> The Account Holder agrees that as a pre-account opening condition, the Bank is authorised to carry out its due diligence on the Account Holder from the Credit Risk Management System (CRMS) and at least two credit bureaux or such other checks as may be required by any regulatory agencies from time to time and the Account Holder hereby authorizes the Bank to debit its accounts for the cost of such checks.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End terms area -->
</main>