@page
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="~/Erorr.css">
</head>
<body style="background-color: #131311;">
    <div class="container" style="background-color: #232324;">
        <div class="error-image">
            <img src="~/img/Error/Error.png" alt="404 Error">
        </div>
        <div class="text-content">
            <h1 style="color: #2FE404;">Oops! </h1>
            <p style="
            font-weight: bold; color: WHITE;"><p>@ViewBag.Message</p></p>
            <a href="/" class="btn" style="background-color: #2fe404; color: #131311; font-weight: bold;">Go home</a>
        </div>
    </div>
</body>
</html>