body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-image img {
    max-width: 60%;
    height: auto;
}

.text-content h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

.text-content p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.btn:hover {
    background-color: #333;
}
