@model AdminUserViewModel
<form method="post" asp-action="Search">
    <div class="row">
        <div class="col-md-9">
            <input asp-for="Search.SearchTerm"
                   class="form-control"
                   placeholder="User..." />
            <br />
        </div>
        <div class="col-md-2">
            <button type="submit" class="aplly-button">Search</button>
            <br />
        </div>
    </div>
</form>