@{
    Layout = null;
}
@model SubscribeViewModel
<footer class="footer-1">
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Start column-->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-content logo-footer">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a class="footer-black-logo" href="#"><img src="img/logo/logo2.png" alt=""></a>
                            </div>
                            <p>
                                The safest and most secured means of sending and recieving money.
                            </p>
                            <div class="subs-feilds">
                                <div class="suscribe-input">
                                    <form asp-controller="Home" asp-action="Subscribe" method="post">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        <input asp-for="Email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                        <button asp-controller="Home" asp-action="Subscribe" type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End column-->
                <!-- Start column-->
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Products</h4>
                            <ul class="footer-list">
                                <li><a asp-controller="Auth" asp-action="Login">Bank Card</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Deposit Skim</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Affiliate</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Software</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Branding </a></li>
                                <li><a href="#">Promotion </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End column-->
                <!-- Start column-->
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Payments</h4>
                            <ul class="footer-list">
                                <li><a asp-controller="Auth" asp-action="Login">Send Mony</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Receive Money </a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Shopping</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Online payment</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">pay a Friend </a></li>
                                <li><a asp-controller="Auth" asp-action="Login">pay a bill </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End column-->
                <!-- Start column-->
                <div class="col-md-2 hidden-sm col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Company</h4>
                            <ul class="footer-list">
                                <li><a asp-page="/About">About us</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Services </a></li>
                                <li><a asp-page="/FAQ">FAQ</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Promotion</a></li>
                                <li><a asp-controller="Auth" asp-action="Login">Transition</a></li>
                                <li><a asp-page="/Contact">Social Media</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End column-->
                <!-- Start column-->
                <div class="col-md-2 hidden-sm col-xs-12">
                    <div class="footer-content last-content">
                        <div class="footer-head">
                            <h4>Support</h4>
                            <ul class="footer-list">
                                <li><a asp-page="/Contact">Customer Care</a></li>
                                <li><a href="#">Live chat</a></li>
                                <li><a href="#">Notification</a></li>
                                <li><a asp-page="/Privacy">Privacy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a asp-page="/Contact">Contact us </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End column-->
            </div>
        </div>
    </div>
    <!-- Start footer bottom area -->
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2022
                            <a asp-page="/Index">PGC Bank Plc</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End footer bottom area -->
</footer>