
@{
    ViewData["Title"] = "CreateBankAccount";
}
@model CreateBankAccountViewModel

<section class="get-card">
    <div id="get-card" class="section" style="padding-top: 150px;">
        <h2>Get Card</h2>
        <form method="POST" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">Get Card</button>
        </form>
    </div>
</section>

