
@{
    ViewData["Title"] = "CreateSubscriber";
}
@model SubscribeViewModel
@await Component.InvokeAsync("AdminBox")
<div class="col-md-9 mt-sm-3 mt-md-0">
    <!-- Panel for new entry creation -->
    <div class="card">
        <div class="card-header main-color-bg">
            Create Subscriber
        </div>
        <div class="card-body">
            <form asp-action="CreateSubscriber" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Email</label>
                    <input asp-for="Email" class="form-control" id="title" placeholder="Enter Mail" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" class="btn main-color-bg" value="Create" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
            document.getElementById("@TempData["Tab"]-tab").classList.add("active", "main-color-bg");
    </script>
}
